/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/

  --red: hsl(0, 100%, 25%);
  --orange: hsl(15, 74%, 41%);
  --yellow: hsl(46, 81%, 52%);
  --light-yellow: hsl(36, 100%, 72%);
  --maroon: hsl(337, 83%, 9%);
  --white: 	hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 84%);

  --text-color-nb: hsl(0, 0%, 28%);
  --text-color-h1h2h3: hsl(0, 0%, 14%);
  --text-color-p1p2: hsl(0, 0%, 15%);
  --text-color-button: hsl(240, 45%, 9%);

  --body-color: hsl(165, 29%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 3rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --p1-font-size: 1.125rem;
  --p2-font-size: 1rem;

  /*========== Font weight ==========*/
  --font-semi-bold: 600;
  --font-medium: 500;
  --font-regular: 400;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /*========== border radius (di ko lam ung radius natin naglagay lang ako ng qt wahaha) ==========*/
  --border_radius: 10px
}


/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    /*========== FOR LATER ==========*/
  }
}


/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

input,
textarea,
button,
body {
  font-family: var(--body-font);
  font-size: var(--p1-font-size);
}

body {
  background-color: var(--body-color);
}

input,
textarea,
button {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--text-color-h1h2h3);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}


/*=============== TEMPLATE ===============*/
.container {
  max-width: 1220px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 2rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

.section__title {
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  font-size: var(--small-font-size);
  margin-bottom: .25rem;
}

.section__subtitle span,
.section__title span {
  color: var(--first-color);
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== REUSABLE CSS ===============*/

/*=============== Header and Nav ===============*/
header{
    position: fixed;
    width: 100%;
    background-color: var(--white);
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 12%;
    transition: all .50s ease;
}

.nav__logo{
  display: flex;
  align-items: center;
}   

.nav__logo img {
    margin-right: 3px;
}

.logo__text {
    color: var(--red);
    font-size: var(--p2-font-size);
    font-weight: var(--font-semi-bold);
    margin-left: 8px; 
}

.nav__list {
    display: flex;
}

.nav__list a{
    color: var(--text-color-nb);
    font-size: var(--p2-font-size);
    font-weight: var(--font-medium);
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.nav__list a:hover{
    color: var(--red);
}

.nav__list a.active {
    color: var(--red);
}

.auth{
  display: flex;
  align-items: center;
}

.auth a{
  margin-right: 25px;
  margin-left: 10px;
  color: var(--text-color-nb);
  font-size: var(--p2-font-size);
  font-weight: var(--font-medium);
  transition: all .50s ease;
}

.sign__in {
    display: flex;
    align-items: center;
}

.sign__in i{
    color: var(--red);
    font-size: 28px;
    margin-right: 7px;
}

.auth a:hover{
    color: var(--red);
}

#menu--icon{
    font-size: 35px;
    color: var(--text-color-nb);
    cursor: pointer;
    z-index: 10001;
    display: none;
}



/*=============== Footer ===============*/
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--maroon);
  padding: 28px 12%;
  text-align: left;
}

.footer__container {
  padding: 2rem 0;
}

.footer__title {
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: var(--p2-font-size);
  font-weight: var(--font-semi-bold);
}

.footer__title img {
  margin-right: 0.5rem;
}

.footer__container i {
  font-size: 28px;
  margin-right: 0.5rem;
}

.footer__copy, .footer__container p{
  display: flex;
  align-items: center;
  font-size: var(--p2-font-size);
  font-weight: var(--font-regular);
  color: var(--light-gray);
}

.footer__container p, .footer__container hr, .footer__title{
  margin-bottom: 1rem;
}

.footer_copy {
  margin-left: 0rem;
}



/*=============== RESPONSIVENESS ===============*/
/* For large devices */
@media (max-width: 1280px){
  .container{
    margin-left: 4rem;
    margin-right: 4rem;
  }
  header{
    padding: 14px 2%;
    transition: .2s;
  }
  .nav__list a{
    padding: 5px 0;
    margin: 0px 20px;
  }
}

@media (max-width: 1090px){
  .container{
    margin-inline: auto;
  }
  #menu--icon{    
    display: block;
  }
  .nav__list{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    height: 21vh;
    background: hsl(0, 0%, 88%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
  }

  .nav__list a{
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all .50s ease;
  }
  .nav__list a:hover{
    color: var(--red);
  }
  .nav__list a.active{
    color: var(--red);
  }
  .nav__list.open{
    right: 2%;
  }
}

/*=============== Sign In Sign Up ===============*/
.background-container {
  /*background photo setting*/
  background-image: url('../image/pup2_overlay.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*content setting*/
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-height: 100vh;
}

.wrapper {
  /*settings of the yellow box*/
  position: relative;
  width: 46vh;
  height: 53vh;
}

.form_wrapper {
  /*setting of the content in the yellow box*/
  position: absolute;
  top: 0; 
  left: 0;
  display: flex; 
  width: 100%;
  height: 100%;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  background-color: var(--light-gray);
  box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, .4);
}

.wrapper .form_wrapper.sign-up {
  transform: rotate(8deg);
}

/*setting of the animation for the sign-in box with its respective animation*/
.wrapper.animate-signin .form_wrapper.sign-in {
  animation-name: animateSignin;
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
}

/*animation for the sign-in box rotating*/
@keyframes animateSignin {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(0) rotate(8deg);
  }
}

/*setting of the animation for the sign-up box with its respective animation*/
.wrapper.animate-signup .form_wrapper.sign-in {
  transform: rotate(8deg);
  animation-name: animateRotate;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.wrapper.animate-signin .form_wrapper.sign-up {
  animation-name: animateRotate;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

/*animation for the sign-in box rotating*/
@keyframes animateRotate {
  0% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(0);
    z-index: 1;
  }
}

/*setting of the animation for the sign-up box with its respective animation*/
.wrapper.animate-signup .form_wrapper.sign-up {
  animation-name: animateSignup;
  animation-duration: 1.25s;
  animation-fill-mode: forwards;
}

/*animation for the sign-in box rotating*/
@keyframes animateSignup {
  0% {
    transform: translateX(0);
    z-index: 1;
  }
  50% {
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0) rotate(8deg);
  }
}

.signin-title {
  text-align: center;
  padding-bottom: 3%;
}

.input {
  /*position of all input contents*/
  position: relative;
  width: 90%;
  margin: 3% 0;
}

.input label{
  /*settings of the labels of an input*/
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  padding: 5px;
  border-radius: var(--border_radius);
  color: var(--text-color-nb);
  pointer-events: none;
  transition: .4s;
}

.input input {
  /*settings of the input text an d shape*/
  width: 100%;
  height: 50px;
  font-size: var(--p2-font-size);
  background: transparent;
  padding: 10px;
  border: 1px solid var(--text-color-nb);
  border-bottom: 2px solid var(--text-color-nb);
  border-left: 2px solid var(--text-color-nb);
  border-radius: var(--border_radius);
}

.input input:focus~label,
.input input:valid~label{ 
  top: 0;
  font-size: 14px ;
  background: var(--light-gray);
  padding-left: 2;
  padding-bottom: 0;
}

.login {
  position: relative;
  color: var(--white);
  margin: 3% 0;
  top: 0;
  left: 0;
  width: 90%;
  height: 45px;
  background: linear-gradient(to right, var(--maroon), #0C0C20);  
  border-radius: var(--border_radius);
  cursor: pointer;
  border: none;
  outline: none;
}

.in-up-link {
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}

.in-up-link p{
  color: var(--text-color-nb);
}
.in-up-link p a{
  color: var(--maroon);
}

.in-up-link p a:hover{
  text-decoration: underline;
}