{% extends "layout.html" %}

{% block body %}
            <div class="container grid" id="about--container">
                <div class="about__content">
                    <h1 class="section__title">
                        About Us
                    </h1>
                    <p>
                        The Polytechnic University of the Philippines Student Council Commission on Student Organizations and Accreditation (PUP SC COSOA) is the sole-accrediting and independent student body set to develop an effective working relationship between the Central Student Council, the Office of Student Services (OSS), and all student organizations at the Polytechnic University of the Philippines, Sta. Mesa, Manila.
                    </p>
                </div>

                <div id="about--bg">
                    <img src="/static/image/bg2.jpg" alt="">
                </div>
            </div>
{% endblock %}