{% extends "layout.html" %}

{% block body %}
            <div class="home__container container">
                <div class="home__content">
                    <h1 class="home__title"><span>PUP</span> Student Council Commission on Student Organizations and Accreditation </h1>

                    <p>The sole-accrediting body of all formations in PUP Sta. Mesa, Manila.</p>
                    <a href="{{ url_for('waiver') }}" class="button">
                        Get Started
                    </a>
                </div>
            </div>
            <div class="background">
                <div class="clip-masked-element" id="top">
                    <img src="/static/image/bg1.jpg" alt="Background Image">
                </div>                
                <div class="clip-masked-element" id="middle"></div>
                <div class="clip-masked-element" id="bottom"></div>
            </div>

{% endblock %}