<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== ICON ===============-->
      <link rel="shortcut icon" href="../static/image/COSOA_Logo_Footer.png" type="image/x-icon">

      <!--=============== REMIXICONS ===============-->
      <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">

      <!--=============== BOXICON ===============-->
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="../static/css/stylesheet.css">

      <!--<script src="../static/js/script.js"></script>-->

      <title>PUP COSOA</title>
   </head>
<body>
    <!--==================== HEADER ====================-->
    <header>
        <nav class="nav container">
            <a href="{{ url_for('index') }}" class="nav__logo">
                <img src="../static/image/COSOA_Logo.png" width="32" height="32" alt="COSOA Logo"></img>
                <span class="logo__text">PUP COSOA</span>
            </a>

            <ul class="nav__list">
                <li><a href="{{ url_for('index') }}" {% if request.path == url_for('index') %}class="active"{% endif %}>Home</a></li>
                <li><a href="{{ url_for('about') }}" {% if request.path == url_for('about') %}class="active"{% endif %}>About Us</a></li>
                <li><a href="{{ url_for('waiver') }}" {% if request.path == url_for('waiver') %}class="active"{% endif %}>Renewal Form</a></li>
            </ul>
        </nav>
    </header>
    <main class="main">
        <section class="home section">
            {% block body %}{% endblock %}
        </section>
    </main>

    <!--==================== FOOTER ====================-->
    <footer class="footer">
        <div class="footer__container container">
            <h1 class="footer__title">
                <img src="../static/image/COSOA_Logo_Footer.png" width="32" height="32" alt="COSOA Logo">
                <span>PUP COSOA</span>
            </h1>
            
            <p>
                <i class="ri-map-pin-line"></i>
                <span>201, Charlie del Rosario Building, Polytechnic University of the Philippines, Manila, Philippines</span>
            </p>
            <p>
                <i class="ri-mail-line"></i>
                <span>@iskolarngbayan.pup.edu.ph</span>
            </p>

            <hr size="1", width="100%">

            <span class="footer__copy">
               &#169; 2024 Diamante & Tolentino. All rights reserved.
            </span>
        </div>
    </footer>
</body>
</html>