{% extends "layout.html" %} {% block body %}
<div class="officers-main-wrapper">
  <div class="officers-form-wrapper">
    <form id="officersForm">
      <div class="officers-div">
        <ul>
          <li class="officer-label1 active">
            <span>1</span>
            {{ officer_info[0].EO}}
          </li>
          <li class="add__officer">
            <button class="add__officer" onclick="addOfficer()">+</button>
          </li>
        </ul>
      </div>
      <div class="form-officer-1 active form">
        <div class="form-input-flex">
          <div>
            <!-- PROGRAM INPUT -->
            <label for="Program" class="form-label"> Program </label>
            <select name="program" id="program" class="form-input" required>
              <option value="{{ officer_info[0].program }}">
                {{ officer_info[0].program }}
              </option>
              <option>University-Wide Student Organization</option>
              <option>College of Accountancy and Finance | CAF</option>
              <option>
                College of Architecture, Design, and Built Environment | CADBE
              </option>
              <option>College of Arts and Letters | CAL</option>
              <option>College of Business Administration | CBA</option>
              <option>College of Communication | COC</option>
              <option>
                College of Computer and Information Sciences | CCIS
              </option>
              <option>College of Education | COED</option>
              <option>College of Engineering | CE</option>
              <option>College of Human Kinetics | CHK</option>
              <option>College of Law | CL</option>
              <option>
                College of Political Science and Public Administration | CPSPA
              </option>
              <option>College of Social Sciences and Development | CSSD</option>
              <option>College of Science | CS</option>
              <option>
                College of Tourism, Hospitality, and Transportation Management |
                CTHTM
              </option>
              <option>Institute of Technology | ITECH</option>
              <option>Open University System | OUS</option>
              <option>Graduate School | GS</option>
              <option>Senior High School | SHS</option>
            </select>
          </div>
          <div>
            <!-- ELECTED OFFICE INPUT -->
            <label for="elected_office" class="form-label">
              Elected Office
            </label>
            <input
              type="text"
              name="elected_office"
              placeholder="e.g. President"
              value="{{ officer_info[0].EO }}"
              id="elected_office"
              class="form-input"
              required
              readonly
            />
          </div>
          <div>
            <!-- ACAD YEAR INPUT -->
            <label for="AY" class="form-label"> Academic Year </label>
            <select name="AY" id="AY" class="form-input" required>
              <option value="{{ officer_info[0].AY }}">
                {{ officer_info[0].AY }}
              </option>
              <option value="2023-2024">2023-2024</option>
              <option value="2024-2026">2024-2025</option>
              <!-- Add more options as needed -->
            </select>
          </div>
        </div>
        <div class="form-input-flex">
          <div>
            <!-- FIRST NAME INPUT -->
            <label for="firstname" class="form-label"> First name </label>
            <input
              type="text"
              name="firstname"
              placeholder="Maria Nicolette"
              value="{{ officer_info[0].FN }}"
              id="firstname"
              class="form-input"
              required
            />
          </div>
          <div>
            <!-- MID NAME INPUT -->
            <label for="midname" class="form-label">
              Middle name (if applicable)
            </label>
            <input
              type="text"
              name="midname"
              value="{{ officer_info[0].MN }}"
              placeholder="Andrio"
              id="midname"
              class="form-input"
            />
          </div>
          <div>
            <!-- LAST NAME INPUT -->
            <label for="lastname" class="form-label"> Last name </label>
            <input
              type="text"
              name="lastname"
              value="{{ officer_info[0].LN }}"
              placeholder="Vergara"
              id="lastname"
              class="form-input"
              required
            />
          </div>
        </div>
        <div class="form-input-flex">
          <div>
            <!-- PRONOUNS INPUT -->
            <label for="pronouns" class="form-label"> Pronouns </label>
            <select name="pronouns" id="pronouns" class="form-input" required>
              <option value="{{ officer_info[0].pronouns }}">
                {{ officer_info[0].pronouns }}
              </option>
              <option value="she/her">she/her</option>
              <option value="he/him">he/him</option>
              <option value="they/them">they/them</option>
              <!-- Add more options as needed -->
            </select>
          </div>
          <div>
            <!-- YEAR AND SECTION INPUT -->
            <label for="yearsection" class="form-label">
              Year and Section
            </label>
            <input
              type="text"
              name="yearsection"
              value="{{ officer_info[0].YS }}"
              placeholder="3-4"
              pattern="[1-4]-[1-8]|[1-4]-1n"
              id="yearsection"
              class="form-input"
              required
            />
          </div>
          <div>
            <!-- DATE OF BIRTH INPUT -->
            <label for="dob" class="form-label"> Date of Birth </label>
            <input
              type="date"
              value="{{ officer_info[0].DOB }}"
              name="dob"
              id="dob"
              class="form-input"
              required
            />
          </div>
        </div>
        <div class="form-input-flex">
          <div>
            <!-- AGE INPUT -->
            <label for="age" class="form-label"> Age </label>
            <input
              type="number"
              name="age"
              value="{{ officer_info[0].age }}"
              placeholder="21"
              id="age"
              class="form-input"
              required
              min="18"
              max="60"
            />
          </div>
          <div>
            <!-- STUDENT NUMBER INPUT -->
            <label for="studentNumber" class="form-label">
              Student Number
            </label>
            <input
              type="text"
              name="studentNumber"
              placeholder="20xx-xxxx-MN-0"
              value="{{ officer_info[0].SN }}"
              id="studentNumber"
              class="form-input"
              required
              pattern="20\d{2}-\d{5}-MN-0"
              title="Format: 20xx-xxxxx-MN-0"
            />
          </div>
          <div>
            <!-- PHONE NUMBER INPUT -->
            <label for="phoneNum" class="form-label"> Phone Number </label>
            <input
              type="tel"
              name="phoneNum"
              placeholder="09xxxxxxxxx"
              value="{{ officer_info[0].PN }}"
              id="phoneNum"
              class="form-input"
              required
              pattern="09\d{9}"
              title="Format: 09xxxxxxxxx"
            />
          </div>
        </div>
        <div class="form-input-flex">
          <div>
            <!-- PUP WEBMAIL INPUT -->
            <label for="PUPwebmail" class="form-label"> PUP Webmail </label>
            <input
              type="email"
              name="PUPwebmail"
              placeholder="xxx@iskolarngbayan.pup.edu.ph"
              value="{{ officer_info[0].webmail }}"
              id="PUPwebmail"
              class="form-input"
              title="Please enter a valid email address with domain @iskolarngbayan.pup.edu.ph"
              required
            />
          </div>
          <div>
            <!-- ACTIVE EMAIL INPUT -->
            <label for="activeEmail" class="form-label"> Active Email </label>
            <input
              type="email"
              name="activeEmail"
              value="{{ officer_info[0].email }}"
              placeholder="coletvg@gmail.com"
              id="activeEmail"
              class="form-input"
              title="Please enter a valid email address with domain @gmail.com"
              required
            />
          </div>
          <div>
            <!-- FB LINK INPUT -->
            <label for="fbLink" class="form-label"> Facebook Link </label>
            <input
              type="url"
              name="fbLink"
              value="{{ officer_info[0].FB }}"
              id="fbLink"
              class="form-input"
              required
              placeholder="https://www.facebook.com/username"
            />
          </div>
        </div>
      </div>
      <div class="form-btn-wrapper">
        <i class="ri-delete-bin-6-line" id="delete--button"></i>
        <button class="button" id="back--button">Back</button>
        <button class="button" id="next--button">Next</button>
        <input class="button" id="submit--button-OR" type="submit" />
      </div>
    </form>
  </div>
</div>
<script src="../static/js/officers.js"></script>
{% endblock %}
