<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <!--=============== ICON ===============-->
      <link rel="shortcut icon" href="../static/image/COSOA_Logo.png" type="image/x-icon">

      <!--=============== REMIXICONS ===============-->
      <link href="https://cdn.jsdelivr.net/npm/remixicon@3.0.0/fonts/remixicon.css" rel="stylesheet">

      <!--=============== BOXICON ===============-->
      <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

      <!--=============== CSS ===============-->
      <link rel="stylesheet" href="..\static\css\stylesheet.css">

      <script src="..\static/js/signinup.js"></script>

      <title>PUP COSOA</title>
   </head>
   <body class="background-container">
    <div class="wrapper">
        <!--Form Sign Up division-->
        <div class="form_wrapper sign-up">
            <h1 class="signin-title">Sign-Up</h1>
            <div class="input">
                <input type="text" required>
                <label for="">Organization Name</label> 
            </div>
            <div class="input">
                <input type="text" required>
                <label for="">Email Address</label> 
            </div>
            <div class="input">  
                <input type="password" required>
                <label for="">Password</label>
            </div>
            <button type="submit" class="login">Sign-Up</button>
            <div class="in-up-link">
                <p>Already have an account? <a href="#" class="signin">Sign-In</a></p>
            </div>
        </div>
        <!--Form Sign In division-->
        <div class="form_wrapper sign-in">
            <h1 class="signin-title">Sign-In</h1>
            <div class="input">
                <input type="text" required>
                <label for="">Email Address</label> 
            </div>
            <div class="input">  
                <input type="password" required>
                <label for="">Password</label>
            </div>
            <button type="submit" class="login">Sign-In</button>
            <div class="in-up-link">
                <p>Dont have an account? <a href="#" class="signup">Sign-Up</a></p>
            </div>
        </div>
    </div>
</body>
</html>