{% extends "layout.html" %}

{% block body %}

    <div class="background-mg">
    <div class="wav-formbold-main-wrapper">
        <!--<script src="../static/js/waiver.js"></script>--> 
        <div class="wav-formbold-form-wrapper">
            <form action="https://formbold.com/s/FORM_ID" method="POST">
                <div class="wav-formbold-steps">
                    <ul>
                        <li class="wav-formbold-step-menu1 active">
                            <span>1</span>
                            Informations
                        </li>
                        <li class="wav-formbold-step-menu3">
                            <span>2</span>
                            Signatures
                        </li>
                    </ul>
                </div>
        
                <div class="wav-formbold-form-step-1 active">
                    <div class="wav-formbold-input-flex">
                        <div>
                            <label for="cnso" class="wav-formbold-form-label"> Complete Name of Student Organization </label>
                            <input
                            type="text"
                            name="cnso"
                            placeholder="e.g., Association of Concerned Students (ACS)"
                            class="wav-formbold-form-input"
                            />
                        </div>
                        <div>
                            <label for="coj" class="wav-formbold-form-label"> Classification of Jurisdiction </label>
                            <select name="coj"class="wav-formbold-form-input">
                                <option>Local Student Organization</option>
                                <option>University-Wide Student Organization</option>
                            </select>
                        </div>
                    </div>
            
                    <div class="wav-formbold-input-flex">
                        <div>
                            <label for="scoj" class="wav-formbold-form-label"> Sub-Classification of Jurisdiction </label>
                            <select name="scoj" class="wav-formbold-form-input">
                                <option>University-Wide Student Organization</option>
                                <option>College of Accountancy and Finance | CAF</option>
                                <option>College of Architecture, Design, and Built Environment | CADBE</option>
                                <option>College of Arts and Letters | CAL</option>
                                <option>College of Business Administration | CBA</option>
                                <option>College of Communication | COC</option>
                                <option>College of Computer and Information Sciences | CCIS</option>
                                <option>College of Education | COED</option>
                                <option>College of Engineering | CE</option>
                                <option>College of Human Kinetics | CHK</option>
                                <option>College of Law | CL</option>
                                <option>College of Political Science and Public Administration | CPSPA</option>
                                <option>College of Social Sciences and Development | CSSD</option>
                                <option>College of Science | CS</option>
                                <option>College of Tourism, Hospitality, and Transportation Management | CTHTM</option>
                                <option>Institute of Technology | ITECH</option>
                                <option>Open University System | OUS</option>
                                <option>Graduate School | GS</option>
                                <option>Senior High School | SHS</option>
                            </select>
                        </div>
                        <div>
                            <label for="ntso" class="wav-formbold-form-label"> Nature/Type of Student Organization </label>
                            <select name="ntso" class="wav-formbold-form-input">
                                <option>Academic Organization</option>
                                <option>Advocacy Organization</option>
                                <option>Cultural/Arts/Dance Organization</option>
                                <option>Fraternities and Sororities</option>
                                <option>Political Organization</option>
                                <option>Religious Organization</option>
                                <option>Scholars Organization</option>
                                <option>Socio-civic Organization</option>
                                <option>Special Interest Organization</option>
                                <option>Sports Organization</option>
                            </select>
                        </div>
                    </div>
            
                    <div>
                        <label for="cnsoa" class="wav-formbold-form-label"> Complete Name of Student Organization's Adviser(s) </label>
                        <input
                        type="text"
                        name="cnsoa"
                        placeholder="e.g., Instructor III Juan S. Dela Cruz"
                        class="wav-formbold-form-input"
                        />
                    </div>
                </div>
        
                <div class="wav-formbold-form-step-3">
                    <div class="wav-formbold-form-confirm">
                        <p>Please attach signatures from the listed individuals below to confirm the acknowledgment (File must be "role.png/jpg")</p>
                        <div class="wav-formbold-input-flex">
                            <div>
                                <label for="wav-signature-p" class="wav-formbold-form-label-button">President</label>
                                <input type="file" id="wav-signature-p" accept="image/png, image/gif, image/jpeg" name="pres" hidden/>
                                <span id="wav-file-chosen-p">No file chosen</span>
                            </div>
                            <div>
                                <label for="wav-signature-vp" class="wav-formbold-form-label-button">Vice President</label>
                                <input type="file" id="wav-signature-vp" accept="image/png, image/gif, image/jpeg" name="vpres" hidden/>
                                <span id="wav-file-chosen-vp">No file chosen</span>
                            </div>
                            <div>
                                <label for="wav-signature-a" class="wav-formbold-form-label-button">Adviser</label>
                                <input type="file" id="wav-signature-a" accept="image/png, image/gif, image/jpeg" name="adviser" hidden/>
                                <span id="wav-file-chosen-a">No file chosen</span>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="wav-formbold-form-btn-wrapper">
                    <button class="wav-formbold-back-btn">
                    Back
                    </button>
        
                    <button class="wav-formbold-btn">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
    </div>
<script>
    const stepMenuOne = document.querySelector('.wav-formbold-step-menu1');
    const stepMenuThree = document.querySelector('.wav-formbold-step-menu3');

    const stepOne = document.querySelector('.wav-formbold-form-step-1');
    const stepThree = document.querySelector('.wav-formbold-form-step-3');

    const formSubmitBtn = document.querySelector('.wav-formbold-btn');
    const formBackBtn = document.querySelector('.wav-formbold-back-btn');

    formSubmitBtn.addEventListener("click", function(event) {
    event.preventDefault();
    if (stepMenuOne.className == 'wav-formbold-step-menu1 active') {
        stepMenuOne.classList.remove('active');
        stepMenuThree.classList.add('active');

        stepOne.classList.remove('active');
        stepThree.classList.add('active');

        formBackBtn.classList.add('active');
        formBackBtn.addEventListener("click", function(event) {
        event.preventDefault();

        stepMenuOne.classList.add('active');
        stepMenuThree.classList.remove('active');

        stepOne.classList.add('active');
        stepThree.classList.remove('active');

        formBackBtn.classList.remove('active');
        });
    } else if (stepMenuThree.className == 'wav-formbold-step-menu3 active') {
        document.querySelector('form').submit();}});
</script>

{% endblock %}