{% extends "layout.html" %} {% block body %}

<div class="background-mg">
  <div class="wav-formbold-main-wrapper">
    <!--<script src="../static/js/waiver.js"></script>-->
    <div class="wav-formbold-form-wrapper">
      <form action="https://formbold.com/s/FORM_ID" method="POST">
        <div class="wav-formbold-steps">
          <ul>
            <li class="wav-formbold-step-menu1 active">
              <span>1</span>
              Informations
            </li>
            <li class="wav-formbold-step-menu3">
              <span>2</span>
              Signatures
            </li>
          </ul>
        </div>

        <div class="wav-formbold-form-step-1 active">
          <div class="wav-formbold-input-flex">
            <div>
              <label for="cnso" class="wav-formbold-form-label">
                Complete Name of Student Organization
              </label>
              <input
                type="text"
                name="cnso"
                value="{{ wav_info.cnso }}"
                class="wav-formbold-form-input"
              />
            </div>
            <div>
              <label for="coj" class="wav-formbold-form-label">
                Classification of Jurisdiction
              </label>
              <select name="coj" class="wav-formbold-form-input">
                <option>{{ wav_info.coj }}</option>
                <option>University-Wide Student Organization</option>
              </select>
            </div>
          </div>

          <div class="wav-formbold-input-flex">
            <div>
              <label for="scoj" class="wav-formbold-form-label">
                Sub-Classification of Jurisdiction
              </label>
              <select name="scoj" class="wav-formbold-form-input">
                <option>{{ wav_info.scoj }}</option>
                <option>College of Accountancy and Finance | CAF</option>
                <option>
                  College of Architecture, Design, and Built Environment | CADBE
                </option>
                <option>College of Arts and Letters | CAL</option>
                <option>College of Business Administration | CBA</option>
                <option>College of Communication | COC</option>
                <option>
                  College of Computer and Information Sciences | CCIS
                </option>
                <option>College of Education | COED</option>
                <option>College of Engineering | CE</option>
                <option>College of Human Kinetics | CHK</option>
                <option>College of Law | CL</option>
                <option>
                  College of Political Science and Public Administration | CPSPA
                </option>
                <option>
                  College of Social Sciences and Development | CSSD
                </option>
                <option>College of Science | CS</option>
                <option>
                  College of Tourism, Hospitality, and Transportation Management
                  | CTHTM
                </option>
                <option>Institute of Technology | ITECH</option>
                <option>Open University System | OUS</option>
                <option>Graduate School | GS</option>
                <option>Senior High School | SHS</option>
              </select>
            </div>
            <div>
              <label for="ntso" class="wav-formbold-form-label">
                Nature/Type of Student Organization
              </label>
              <select name="ntso" class="wav-formbold-form-input">
                <option>{{ wav_info.ntso }}</option>
                <option>Advocacy Organization</option>
                <option>Cultural/Arts/Dance Organization</option>
                <option>Fraternities and Sororities</option>
                <option>Political Organization</option>
                <option>Religious Organization</option>
                <option>Scholars Organization</option>
                <option>Socio-civic Organization</option>
                <option>Special Interest Organization</option>
                <option>Sports Organization</option>
              </select>
            </div>
          </div>

          <div class="form-wav-last-row">
            <label for="cnsoa" class="wav-formbold-form-label">
              Complete Name of Student Organization's Adviser(s)
            </label>
            <input
              type="text"
              name="cnsoa"
              value="{{ wav_info.cnsoa }}"
              class="wav-formbold-form-input"
            />
          </div>
        </div>

        <div class="wav-formbold-form-step-3">
          <div class="wav-formbold-form-confirm">
            <p>
              Please attach signatures from the listed individuals below to
              confirm the acknowledgment (File must be "role.png/jpg")
            </p>
            <div class="wav-formbold-input-flex">
              <div>
                <label
                  for="wav-signature-p"
                  class="wav-formbold-form-label-button"
                  >President</label
                >
                <input
                  type="file"
                  id="wav-signature-p"
                  accept="image/png, image/gif, image/jpeg"
                  name="pres"
                  hidden
                />
                <span id="wav-file-chosen-p">No file chosen</span>
              </div>
              <div>
                <label
                  for="wav-signature-vp"
                  class="wav-formbold-form-label-button"
                  >Vice President</label
                >
                <input
                  type="file"
                  id="wav-signature-vp"
                  accept="image/png, image/gif, image/jpeg"
                  name="vpres"
                  hidden
                />
                <span id="wav-file-chosen-vp">No file chosen</span>
              </div>
              <div>
                <label
                  for="wav-signature-a"
                  class="wav-formbold-form-label-button"
                  >Adviser</label
                >
                <input
                  type="file"
                  id="wav-signature-a"
                  accept="image/png, image/gif, image/jpeg"
                  name="adviser"
                  hidden
                />
                <span id="wav-file-chosen-a">No file chosen</span>
              </div>
            </div>
          </div>
        </div>

        <div class="wav-formbold-form-btn-wrapper">
          <button class="button" id="back--button-wav" style="display: none">
            Back
          </button>
          <button class="button" id="next--button-wav">Next</button>
          <input
            class="button"
            id="submit--button"
            type="submit"
            style="display: none"
          />
        </div>
      </form>
    </div>
  </div>
</div>
<script src="../static/js/waiver.js"></script>

{% endblock %}
