{% extends "layout.html" %} {% block body %}

<div class="background-mg">
  <div class="wav-formbold-main-wrapper">
    <!--<script src="../static/js/waiver.js"></script>-->
    <div class="wav-formbold-form-wrapper" id="wav-form">
      <form action="#" method="POST">
        <div class="wav-formbold-steps">
          <ul>
            <li class="wav-formbold-step-menu1 active">
              <span>1</span>
              Informations
            </li>
          </ul>
        </div>

        <div class="wav-formbold-form-step-1 active">
          <div class="wav-formbold-input-flex">
            <div>
              <label for="cnso" class="wav-formbold-form-label">
                Complete Name of Student Organization
              </label>
              <input
                type="text"
                name="cnso"
                placeholder="e.g., Association of Concerned Students (ACS)"
                value="{{ wav_info.cnso }}"
                class="wav-formbold-form-input"
                required
              />
            </div>
            <div>
              <label for="coj" class="wav-formbold-form-label">
                Classification of Jurisdiction
              </label>
              <select name="coj" class="wav-formbold-form-input" required>
                <option>{{ wav_info.coj }}</option>
                <option>Local Student Organization</option>
                <option>University-Wide Student Organization</option>
              </select>
            </div>
          </div>

          <div class="wav-formbold-input-flex">
            <div>
              <label for="scoj" class="wav-formbold-form-label">
                Sub-Classification of Jurisdiction
              </label>
              <select name="scoj" class="wav-formbold-form-input" required>
                <option>{{ wav_info.scoj }}</option>
                <option>University-Wide Student Organization</option>
                <option>College of Accountancy and Finance | CAF</option>
                <option>
                  College of Architecture, Design, and Built Environment | CADBE
                </option>
                <option>College of Arts and Letters | CAL</option>
                <option>College of Business Administration | CBA</option>
                <option>College of Communication | COC</option>
                <option>
                  College of Computer and Information Sciences | CCIS
                </option>
                <option>College of Education | COED</option>
                <option>College of Engineering | CE</option>
                <option>College of Human Kinetics | CHK</option>
                <option>College of Law | CL</option>
                <option>
                  College of Political Science and Public Administration | CPSPA
                </option>
                <option>
                  College of Social Sciences and Development | CSSD
                </option>
                <option>College of Science | CS</option>
                <option>
                  College of Tourism, Hospitality, and Transportation Management
                  | CTHTM
                </option>
                <option>Institute of Technology | ITECH</option>
                <option>Open University System | OUS</option>
                <option>Graduate School | GS</option>
                <option>Senior High School | SHS</option>
              </select>
            </div>
            <div>
              <label for="ntso" class="wav-formbold-form-label">
                Nature/Type of Student Organization
              </label>
              <select name="ntso" class="wav-formbold-form-input">
                <option>{{ wav_info.ntso }}</option>
                <option>Academic Organization</option>
                <option>Advocacy Organization</option>
                <option>Cultural/Arts/Dance Organization</option>
                <option>Fraternities and Sororities</option>
                <option>Political Organization</option>
                <option>Religious Organization</option>
                <option>Scholars Organization</option>
                <option>Socio-civic Organization</option>
                <option>Special Interest Organization</option>
                <option>Sports Organization</option>
              </select>
            </div>
          </div>

          <div class="form-wav-last-row">
            <label for="cnsoa" class="wav-formbold-form-label">
              Complete Name of Student Organization's Adviser(s)
            </label>
            <input
              type="text"
              placeholder="e.g., Instructor III Juan S. Dela Cruz"
              name="cnsoa"
              value="{{ wav_info.cnsoa }}"
              class="wav-formbold-form-input"
              required
            />
          </div>
        </div>
          <div class="wav-formbold-form-btn-wrapper">
            <input class="button" id="submit--button" type="submit" />
          </div>
      </form>
    </div>
  </div>
</div>
<script src="../static/js/waiver.js"></script>

{% endblock %}
